In [27]:
import pandas as pd
from sqlalchemy import create_engine

### Store CSV into DataFrame

In [28]:
csv_file = "incidence_rate.csv"
depression_data_df = pd.read_csv(csv_file)
depression_data_df.head()

  location_name sex_name  age_name         cause_name    val
0       Alabama     Male  30 to 34   Eating disorders 314.16
1       Alabama   Female  70 to 74  Anxiety disorders 330.40
2       Alabama     Male  75 to 79  Anxiety disorders 332.23
3       Alabama   Female  75 to 79  Anxiety disorders 274.17
4       Alabama     Male   80 plus  Anxiety disorders 221.39

Extract Depressive Disorder and Major depressive disorder from DataFrame

In [29]:
mdd = depression_data_df.loc[depression_data_df['cause_name'].isin(['Major depressive disorder', 'Depressive disorders'])]
mdd

      location_name sex_name  age_name                 cause_name       val
90          Alabama   Female  70 to 74  Major depressive disorder  3,079.96
91          Alabama     Male  75 to 79  Major depressive disorder  1,852.24
92          Alabama   Female  75 to 79  Major depressive disorder  2,314.34
93          Alabama     Male   80 plus  Major depressive disorder  2,407.98
94          Alabama   Female   80 plus  Major depressive disorder  2,964.98
95          Alabama     Male  80 to 84  Major depressive disorder  2,044.13
96          Alabama   Female  80 to 84  Major depressive disorder  2,350.18
98          Alabama     Male  70 to 74  Major depressive disorder  2,101.85
109         Alabama   Female  65 to 69  Major depressive disorder  3,836.62
110         Alabama     Male  65 to 69  Major depressive disorder  2,350.31
111         Alabama   Female  60 to 64  Major depressive disorder  4,584.22
112         Alabama     Male  15 to 19  Major depressive disorder  4,346.47
113         Alabama   Female  15 to 19  Major depressive disorder  9,163.52
114         Alabama     Male  20 to 24  Major depressive disorder  5,060.00
115         Alabama   Female  20 to 24  Major depressive disorder  7,966.05
116         Alabama     Male  25 to 29  Major depressive disorder  4,427.39
117         Alabama   Female  25 to 29  Major depressive disorder  7,201.98
118         Alabama     Male  30 to 34  Major depressive disorder  4,324.75
119         Alabama   Female  30 to 34  Major depressive disorder  7,283.97
120         Alabama     Male  35 to 39  Major depressive disorder  4,746.99
121         Alabama   Female  35 to 39  Major depressive disorder  8,196.02
122         Alabama     Male  40 to 44  Major depressive disorder  4,676.23
123         Alabama   Female  40 to 44  Major depressive disorder  8,179.95
124         Alabama     Male  45 to 49  Major depressive disorder  4,122.70
125         Alabama   Female  45 to 49  Major depressive disorder  7,273.36
126         Alabama     Male  50 to 54  Major depressive disorder  3,565.26
127         Alabama   Female  50 to 54  Major depressive disorder  6,356.01
128         Alabama     Male  55 to 59  Major depressive disorder  3,002.98
129         Alabama   Female  55 to 59  Major depressive disorder  5,424.89
130         Alabama     Male  60 to 64  Major depressive disorder  2,597.49
...             ...      ...       ...                        ...       ...
32019       Wyoming   Female  15 to 19  Major depressive disorder 11,231.99
32020       Wyoming   Female  35 to 39  Major depressive disorder  9,430.63
32021       Wyoming   Female  40 to 44  Major depressive disorder  9,380.21
32022       Wyoming     Male  45 to 49  Major depressive disorder  4,671.06
32023       Wyoming   Female  45 to 49  Major depressive disorder  8,302.57
32024       Wyoming     Male  50 to 54  Major depressive disorder  3,951.57
32025       Wyoming   Female  50 to 54  Major depressive disorder  7,209.65
32026       Wyoming     Male  55 to 59  Major depressive disorder  3,223.99
32027       Wyoming   Female  55 to 59  Major depressive disorder  6,097.15
32028       Wyoming     Male  40 to 44  Major depressive disorder  5,383.87
32029       Wyoming     Male  40 to 44       Depressive disorders  5,663.20
32030       Wyoming     Male  15 to 19  Major depressive disorder  4,927.45
32031       Wyoming     Male  80 to 84       Depressive disorders  2,558.83
32032       Wyoming     Male  45 to 49       Depressive disorders  4,950.80
32033       Wyoming   Female  45 to 49       Depressive disorders  8,729.06
32034       Wyoming     Male  50 to 54       Depressive disorders  4,231.87
32035       Wyoming   Female  50 to 54       Depressive disorders  7,634.51
32036       Wyoming     Male  55 to 59       Depressive disorders  3,504.88
32037       Wyoming   Female  55 to 59       Depressive disorders  6,520.54
32038       Wyoming     Male  60 to 64       Depressive disorders  3,026.44
32039       Wyoming   Female  80 to 84       Depressive disorders  3,215.67
32040       Wyoming   Female  60 to 64       Depressive disorders  5,569.54
32041       Wyoming   Female  65 to 69       Depressive disorders  4,786.83
32042       Wyoming     Male  70 to 74       Depressive disorders  2,571.46
32043       Wyoming   Female  70 to 74       Depressive disorders  3,994.33
32044       Wyoming     Male  75 to 79       Depressive disorders  2,342.29
32045       Wyoming   Female  75 to 79       Depressive disorders  3,192.25
32046       Wyoming     Male   80 plus       Depressive disorders  3,001.33
32047       Wyoming   Female   80 plus       Depressive disorders  3,872.07
32048       Wyoming     Male  65 to 69       Depressive disorders  2,799.59

[3060 rows x 5 columns]

### Create new data with select columns

In [30]:
new_depression_data_df = mdd.groupby(["location_name"])["val"].sum()
pd.options.display.float_format = '{:,.2f}'.format
depression_analysis = pd.DataFrame(new_depression_data_df)
depression_analysis

                            val
location_name
Alabama              285,260.92
Alaska               306,732.42
Arizona              320,307.30
Arkansas             334,072.65
California           257,912.41
Colorado             315,464.74
Connecticut          247,764.57
Delaware             289,044.07
District of Columbia 236,904.01
Florida              280,887.82
Georgia              276,781.57
Hawaii               283,780.97
Idaho                328,138.27
Illinois             245,366.87
Indiana              315,086.10
Iowa                 276,576.17
Kansas               291,509.65
Kentucky             314,783.72
Louisiana            273,734.40
Maine                300,966.97
Maryland             282,735.92
Massachusetts        264,914.13
Michigan             288,276.18
Minnesota            273,096.04
Mississippi          287,776.11
Missouri             307,588.38
Montana              330,867.74
Nebraska             267,908.98
Nevada               322,149.24
New Hampshire        301,625.78
New Jersey           230,279.30
New Mexico           337,430.79
New York             285,357.83
North Carolina       273,548.62
North Dakota         255,197.89
Ohio                 291,595.30
Oklahoma             328,486.28
Oregon               309,874.96
Pennsylvania         276,566.51
Rhode Island         306,111.61
South Carolina       293,906.12
South Dakota         247,267.87
Tennessee            316,290.77
Texas                263,132.29
Utah                 370,059.35
Vermont              300,156.53
Virginia             283,424.94
Washington           308,070.00
West Virginia        335,908.31
Wisconsin            289,377.50
Wyoming              328,378.93

In [31]:
import pandas as pd
import pathlib as path

In [32]:
import requests

response = requests.get('https://www.currentresults.com/Weather/US/average-annual-state-sunshine.php')
response.raise_for_status()
response.text

'<!doctype html>\n<html lang="en">\n<head>\n<meta http-equiv="content-type" content="text/html; charset=iso-8859-1">\n<link rel="stylesheet" href="/Css-RD/main-rd-jun11-18.css">\n<link rel="stylesheet" href="/Css-RD/mediaq-rd-jun8-18.css" media="only screen and (min-width: 29em) ">\n<meta name="viewport" content="width=device-width, initial-scale=1">\n<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">\n<link rel="icon" sizes="192x192" href="/touch-icon-192x192.png">\n<link rel="shortcut icon" href="/favicon.ico">\n<meta name="theme-color" content="#0A8BDF">\n\n\n<script async src="https://www.googletagmanager.com/gtag/js?id=UA-1038710-1"></script>\n<script>\r\n  window.dataLayer = window.dataLayer || [];\r\n  function gtag(){dataLayer.push(arguments);}\r\n  gtag(\'js\', new Date());\r\n\r\n  gtag(\'config\', \'UA-1038710-1\', { \'anonymize_ip\': true });\r\n</script>\n <title>Average Annual Sunshine by USA State - Current Results</title>\n<meta name="description" content="Yearly averages for the number of sunny days, hours a day and percentage of time the sun shines in each US state. " />\n</head>\n<body>\n<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>\n<div id="container"><a href="#top"></a><div class="banner">\n<a href="#mm"><div class="menu-navicon shadow"><div class="menu-text">Menu</div></div></a>\n<a href="#ms"><div class="menu-navicon search-navicon shadow"></div></a>\n<div class="centername">\n<p class="title"><a href="/index.php"><span class="firstletter">C</span>urrent <span class="firstletter">R</span>esults</a></p>\n<p class="tag">weather and science facts</p></div>\n<div class="rwdsearch">\n\n<script>\r\n  (function() {\r\n    var cx = \'partner-pub-8496941113728804:5136326527\';\r\n    var gcse = document.createElement(\'script\');\r\n    gcse.type = \'text/javascript\';\r\n    gcse.async = true;\r\n    gcse.src = (document.location.protocol == \'https:\' ? \'https:\' : \'http:\') +\r\n         \'//cse.google.com/cse.js?cx=\' + cx;\r\n    var s = document.getElementsByTagName(\'script\')[0];\r\n    s.parentNode.insertBefore(gcse, s);\r\n  })();\r\n</script>\n<gcse:searchbox-only></gcse:searchbox-only>\n</div></div>\n<div class="navbar"><ul><li><a href="/index.php">Home</a></li><li class="divider">|</li><li><a href="/Weather-Extremes/index.php">Weather Extremes</a></li><li class="divider">|</li><li><a href="/Weather/index.php">Weather Averages</a></li><li class="divider">|</li>\n<li><a href="/Weather/US/weather-averages-index.php">USA</a></li><li class="divider">|</li>\n<li><a href="/Weather/Canada/weather-averages-index.php">Canada</a></li><li class="divider">|</li>\n<li><a href="/Weather/Europe/Cities/average-european-city-weather.php">Europe</a></li><li class="divider">|</li>\n</ul></div>\n<!--[if lt IE 10]>\r\n<p class="ifltie10">This page doesn\'t display properly in Internet Explorer 9, 8 or older. Please view it in a different browser.</p>\r\n<![endif]--><div id="maincol">\n<h1>Average Annual Sunshine by State</h1>\n<div class="article">\n<div class="ad-blwttl-rec">\n<style>\r\n.cr-1d-rd-blwttl-desk-rec-dkbl { display:none; }\r\n@media(min-width: 525px) { .cr-1d-rd-blwttl-desk-rec-dkbl { display: inline-block; width: 300px; height: 250px; } }\r\n@media(min-width: 688px) { .cr-1d-rd-blwttl-desk-rec-dkbl { width: 336px; height: 280px; } }\r\n</style>\n\n<ins class="adsbygoogle cr-1d-rd-blwttl-desk-rec-dkbl" data-ad-client="ca-pub-8496941113728804" data-ad-slot="3681648122" < ins>\n<script>\r\n(adsbygoogle = window.adsbygoogle || []).push({});\r\n</script>\n</div><div class="addthis-top-vertical">\n\n<div class="addthis_toolbox addthis_default_style addthis_20x20_style">\n<a class="addthis_button_preferred_1"></a><br>\n<a class="addthis_button_preferred_2" style="margin-top: 4px;"></a><br>\n<a class="addthis_button_preferred_3" style="margin-top: 4px;"></a><br>\n<a class="addthis_button_preferred_4" style="margin-top: 4px;"></a><br>\n<a class="addthis_button_compact" style="margin-top: 4px;"></a>\n</div>\n<script async src="//s7.addthis.com/js/300/addthis_widget.js#pubid=wildland"></script>\n\n</div> <p>The tables below pull together numbers on the amount of sunshine that each US state usually has in a year. There\'s information by state on the annual averages for percent, hours and days of sun.</p>\n<p>The <strong>% Sun</strong> number measures the percentage of time between sunrise and sunset that sunshine reaches the ground. <strong>Total Hours</strong> is the average number of sunny hours a place normally has in a year. <strong>Clear Days</strong> is the average number of days annually when cloud covers at most 30 percent of the sky during daylight hours.</p>\n<div class="ad-mobile-rec">\n<style>\r\n.cr-1m-rd-atfld-mobe-medrec-dkbl { display:inline-block; width: 320px; height: 100px; }\r\n@media(min-width: 525px) { .cr-1m-rd-atfld-mobe-medrec-dkbl { display: none; } }\r\n</style>\n\n<ins class="adsbygoogle cr-1m-rd-atfld-mobe-medrec-dkbl" data-full-width-responsive="true" data-ad-client="ca-pub-8496941113728804" data-ad-slot="6635114526" < ins>\n<script>\r\n(adsbygoogle = window.adsbygoogle || []).push({});\r\n</script>\n</div><p>All of the data are averages based on several decades of weather measurements.</p>\n<p>Since so few weather stations measure sunshine, meaningful state-wide averages aren\'t available. Instead, the tables list a place for each state that represents the state\'s typical amount of sunshine.</p>\n<p>For information on the amount of sunshine at more places in a state, click on the state\'s name. </p>\n<table class="clearboth articletable tablecol-1-left tablecol-2-left smalltext">\n<caption>Average annual sunshine</caption>\n<thead><tr>\n<th>State</th>\n<th>Place</th>\n<th>% Sun</th>\n<th>Total Hours</th>\n<th>Clear Days</th></tr>\n</thead><tbody>\n<tr>\n<td><a href="/Weather/Alabama/annual-days-of-sunshine.php">Alabama</a></td>\n<td>Birmingham</td>\n<td>58</td>\n<td>2641</td>\n<td>99</td>\n</tr>\n<tr>\n<td><a href="/Weather/Alaska/annual-days-of-sunshine.php">Alaska</a></td>\n<td>Anchorage</td>\n<td>41</td>\n<td>2061</td>\n<td>61</td>\n</tr>\n<tr>\n<td><a href="/Weather/Arizona/annual-days-of-sunshine.php">Arizona</a></td>\n<td>Tucson</td>\n<td>85</td>\n<td>3806</td>\n<td>193</td>\n</tr>\n<tr>\n<td><a href="/Weather/Arkansas/annual-days-of-sunshine.php">Arkansas</a></td>\n<td>Fort Smith</td>\n<td>61</td>\n<td>2771</td>\n<td>123</td>\n</tr>\n<tr>\n<td><a href="/Weather/California/annual-days-of-sunshine.php">California</a></td>\n<td>San Diego</td>\n<td>68</td>\n<td>3055</td>\n<td>146</td>\n</tr>\n<tr>\n<td><a href="/Weather/Colorado/annual-days-of-sunshine.php">Colorado</a></td>\n<td>Grand Junction</td>\n<td>71</td>\n<td>3204</td>\n<td>136</td>\n</tr>\n<tr>\n<td><a href="/Weather/Connecticut/sunshine-by-month.php">Connecticut</a></td>\n<td>Hartford</td>\n<td>56</td>\n<td>2585</td>\n<td>82</td>\n</tr>\n<tr>\n<td><a href="/Weather/Delaware/annual-weather-averages.php">Delaware</a></td>\n<td>Wilmington</td>\n<td>&ndash;</td>\n<td>&ndash;</td>\n<td>97</td>\n</tr>\n<tr>\n<td><a href="/Weather/Florida/annual-days-of-sunshine.php">Florida</a></td>\n<td>Tampa</td>\n<td>66</td>\n<td>2927</td>\n<td>101</td>\n</tr>\n<tr>\n<td><a href="/Weather/Georgia/annual-days-of-sunshine.php">Georgia</a></td>\n<td>Macon</td>\n<td>66</td>\n<td>2986</td>\n<td>112</td>\n</tr>\n<tr>\n<td><a href="/Weather/Hawaii/annual-days-of-sunshine.php">Hawaii</a></td>\n<td>Honolulu</td>\n<td>71</td>\n<td>&ndash;</td>\n<td>90</td>\n</tr>\n<tr>\n<td><a href="/Weather/Idaho/annual-days-of-sunshine.php">Idaho</a></td>\n<td>Boise</td>\n<td>64</td>\n<td>2993</td>\n<td>120</td>\n</tr>\n<tr>\n<td><a href="/Weather/Illinois/annual-days-of-sunshine.php">Illinois</a></td>\n<td>Peoria</td>\n<td>56</td>\n<td>2567</td>\n<td>95</td>\n</tr>\n<tr>\n<td><a href="/Weather/Indiana/annual-days-of-sunshine.php">Indiana</a></td>\n<td>Indianapolis</td>\n<td>55</td>\n<td>2440</td>\n<td>88</td>\n</tr>\n<tr>\n<td><a href="/Weather/Iowa/annual-days-of-sunshine.php">Iowa</a></td>\n<td>Des Moines</td>\n<td>59</td>\n<td>2691</td>\n<td>105</td>\n</tr>\n<tr>\n<td><a href="/Weather/Kansas/annual-days-of-sunshine.php">Kansas</a></td>\n<td>Wichita</td>\n<td>65</td>\n<td>2922</td>\n<td>128</td>\n</tr>\n</tbody></table>\n<div class="ad-mid-hor">\n\n<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-8496941113728804" data-ad-slot="7972246922" data-ad-format="auto"></ins>\n<script>\r\n(adsbygoogle = window.adsbygoogle || []).push({});\r\n</script>\n</div>\n<div class="clearboth padtop1em"></div>\n<table class="articletable tablecol-1-left tablecol-2-left smalltext">\n<thead><tr>\n<th>State</th>\n<th>Place</th>\n<th>% Sun</th>\n<th>Total Hours</th>\n<th>Clear Days</th></tr>\n</thead><tbody>\n<tr>\n<td><a href="/Weather/Kentucky/annual-days-of-sunshine.php">Kentucky</a></td>\n<td>Louisville</td>\n<td>56</td>\n<td>2514</td>\n<td>93</td>\n</tr>\n<tr>\n<td><a href="/Weather/Louisiana/annual-days-of-sunshine.php">Louisiana</a></td>\n<td>New Orleans</td>\n<td>57</td>\n<td>2649</td>\n<td>101</td>\n</tr>\n<tr>\n<td><a href="/Weather/Maine/sunshine-by-month.php">Maine</a></td>\n<td>Portland</td>\n<td>57</td>\n<td>2513</td>\n<td>101</td>\n</tr>\n<tr>\n<td><a href="/Weather/Maryland/sunshine-by-month.php">Maryland</a></td>\n<td>Baltimore</td>\n<td>57</td>\n<td>2582</td>\n<td>105</td>\n</tr>\n<tr>\n<td><a href="/Weather/Massachusetts/sunshine-by-month.php">Massachusetts</a></td>\n<td>Boston</td>\n<td>58</td>\n<td>2634</td>\n<td>98</td>\n</tr>\n<tr>\n<td><a href="/Weather/Michigan/annual-days-of-sunshine.php">Michigan</a></td>\n<td>Lansing</td>\n<td>51</td>\n<td>2392</td>\n<td>71</td>\n</tr>\n<tr>\n<td><a href="/Weather/Minnesota/annual-days-of-sunshine.php">Minnesota</a></td>\n<td>Minneapolis</td>\n<td>58</td>\n<td>2711</td>\n<td>95</td>\n</tr>\n<tr>\n<td><a href="/Weather/Mississippi/annual-days-of-sunshine.php">Mississippi</a></td>\n<td>Jackson</td>\n<td>61</td>\n<td>2720</td>\n<td>111</td>\n</tr>\n<tr>\n<td><a href="/Weather/Missouri/annual-days-of-sunshine.php">Missouri</a></td>\n<td>Springfield</td>\n<td>60</td>\n<td>2690</td>\n<td>115</td>\n</tr>\n<tr>\n<td><a href="/Weather/Montana/annual-days-of-sunshine.php">Montana</a></td>\n<td>Helena</td>\n<td>59</td>\n<td>2698</td>\n<td>82</td>\n</tr>\n<tr>\n<td><a href="/Weather/Nebraska/annual-days-of-sunshine.php">Nebraska</a></td>\n<td>Lincoln</td>\n<td>61</td>\n<td>2762</td>\n<td>117</td>\n</tr>\n<tr>\n<td><a href="/Weather/Nevada/annual-days-of-sunshine.php">Nevada</a></td>\n<td>Reno</td>\n<td>79</td>\n<td>3646</td>\n<td>158</td>\n</tr>\n<tr>\n<td><a href="/Weather/New-Hampshire/sunshine-by-month.php">New Hampshire</a></td>\n<td>Concord</td>\n<td>54</td>\n<td>2519</td>\n<td>90</td>\n</tr>\n<tr>\n<td><a href="/Weather/New-Jersey/sunshine-by-month.php">New Jersey</a></td>\n<td>Atlantic City</td>\n<td>56</td>\n<td>2499</td>\n<td>94</td>\n</tr>\n<tr>\n<td><a href="/Weather/New-Mexico/annual-days-of-sunshine.php">New Mexico</a></td>\n<td>Albuquerque</td>\n<td>76</td>\n<td>3415</td>\n<td>167</td>\n</tr>\n<tr>\n<td><a href="/Weather/New-York/annual-days-of-sunshine.php">New York</a></td>\n<td>Syracuse</td>\n<td>46</td>\n<td>2120</td>\n<td>63</td>\n</tr>\n<tr>\n<td><a href="/Weather/North-Carolina/annual-days-of-sunshine.php">North Carolina</a></td>\n<td>Greensboro</td>\n<td>60</td>\n<td>2651</td>\n<td>109</td>\n</tr>\n<tr>\n<td><a href="/Weather/North-Dakota/annual-days-of-sunshine.php">North Dakota</a></td>\n<td>Bismarck</td>\n<td>59</td>\n<td>2738</td>\n<td>93</td>\n</tr>\n</tbody></table>\n<div class="ad-end-smart">\n\n<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-8496941113728804" data-ad-slot="3402446525" data-ad-format="auto"></ins>\n<script>\r\n(adsbygoogle = window.adsbygoogle || []).push({});\r\n</script>\n</div>\n<div class="clearboth padtop1em"></div>\n<table class="articletable tablecol-1-left tablecol-2-left smalltext">\n<thead><tr>\n<th>State</th>\n<th>Place</th>\n<th>% Sun</th>\n<th>Total Hours</th>\n<th>Clear Days</th></tr>\n</thead><tbody>\n<tr>\n<td><a href="/Weather/Ohio/annual-days-of-sunshine.php">Ohio</a></td>\n<td>Columbus</td>\n<td>50</td>\n<td>2183</td>\n<td>72</td>\n</tr>\n<tr>\n<td><a href="/Weather/Oklahoma/sunshine-by-month.php">Oklahoma</a></td>\n<td>Oklahoma City</td>\n<td>68</td>\n<td>3089</td>\n<td>139</td>\n</tr>\n<tr>\n<td><a href="/Weather/Oregon/annual-days-of-sunshine.php">Oregon</a></td>\n<td>Portland</td>\n<td>48</td>\n<td>2341</td>\n<td>68</td>\n</tr>\n<tr>\n<td><a href="/Weather/Pennsylvania/annual-days-of-sunshine.php">Pennsylvania</a></td>\n<td>Harrisburg</td>\n<td>58</td>\n<td>2614</td>\n<td>87</td>\n</tr>\n<tr>\n<td><a href="/Weather/Rhode-Island/annual-weather-averages.php">Rhode Island</a></td>\n<td>Providence</td>\n<td>58</td>\n<td>2606</td>\n<td>98</td>\n</tr>\n<tr>\n<td><a href="/Weather/South-Carolina/annual-days-of-sunshine.php">South Carolina</a></td>\n<td>Columbia</td>\n<td>64</td>\n<td>2826</td>\n<td>115</td>\n</tr>\n<tr>\n<td><a href="/Weather/South-Dakota/annual-days-of-sunshine.php">South Dakota</a></td>\n<td>Huron</td>\n<td>63</td>\n<td>2947</td>\n<td>104</td>\n</tr>\n<tr>\n<td><a href="/Weather/Tennessee/annual-days-of-sunshine.php">Tennessee</a></td>\n<td>Nashville</td>\n<td>56</td>\n<td>2510</td>\n<td>102</td>\n</tr>\n<tr>\n<td><a href="/Weather/Texas/annual-days-of-sunshine.php">Texas</a></td>\n<td>Dallas</td>\n<td>61</td>\n<td>2850</td>\n<td>135</td>\n</tr>\n<tr>\n<td><a href="/Weather/Utah/sunshine-by-month.php">Utah</a></td>\n<td>Salt Lake City</td>\n<td>66</td>\n<td>3029</td>\n<td>125</td>\n</tr>\n<tr>\n<td><a href="/Weather/Vermont/sunshine-by-month.php">Vermont</a></td>\n<td>Burlington</td>\n<td>49</td>\n<td>2295</td>\n<td>58</td>\n</tr>\n<tr>\n<td><a href="/Weather/Virginia/annual-days-of-sunshine.php">Virginia</a></td>\n<td>Richmond</td>\n<td>63</td>\n<td>2829</td>\n<td>100</td>\n</tr>\n<tr>\n<td><a href="/Weather/Washington/annual-days-of-sunshine.php">Washington</a></td>\n<td>Seattle</td>\n<td>47</td>\n<td>2170</td>\n<td>58</td>\n</tr>\n<tr>\n<td><a href="/Weather/West-Virginia/annual-days-of-sunshine.php">West Virginia</a></td>\n<td>Beckley</td>\n<td>&ndash;</td>\n<td>&ndash;</td>\n<td>60</td>\n</tr>\n<tr>\n<td><a href="/Weather/Wisconsin/annual-days-of-sunshine.php">Wisconsin</a></td>\n<td>Madison</td>\n<td>54</td>\n<td>2428</td>\n<td>89</td>\n</tr>\n<tr>\n<td><a href="/Weather/Wyoming/annual-days-of-sunshine.php">Wyoming</a></td>\n<td>Lander</td>\n<td>68</td>\n<td>3073</td>\n<td>114</td>\n</tr>\n</tbody></table>\n</div>\n<div class="ref">\n<h5>References</h5>\n<p>National Climatic Data Center. <a href=" http://ols.nndc.noaa.gov/plolstore/plsql/olstore.prodspecific?prodnum=C00095-PUB-A0001" target="_blank">Comparative Climatic Data.</a></p>\n<p>World Data Center for Meteorology. <a href="http://www.ncdc.noaa.gov/oa/wdc/index.php?name=climateoftheworld" target="_blank">Climate of the World.</a></p>\n</div> \n<div class="addthis-end">\n\n<div class="addthis_toolbox addthis_default_style addthis_32x32_style">\n<a class="addthis_button_compact">&nbsp;Share</a>\n<a class="addthis_button_preferred_1" style="margin-right: 12px; margin-left: 10px;"></a>\n<a class="addthis_button_preferred_2" style="margin-right: 12px;"></a>\n<a class="addthis_button_preferred_3" style="margin-right: 12px;"></a>\n<a class="addthis_button_preferred_4" style="margin-right: 12px;"></a>\n<a class="addthis_button_preferred_5"></a>\n</div>\n\n</div><div class="more">\n<h4><a href="/Weather/US/average-state-weather.php">More American State Weather Information</a></h4>\n<ul>\n<li><a href="/Weather/US/average-annual-state-temperatures.php">Average Annual Temperatures by State</a></li>\n<li><a href="/Weather/US/average-annual-state-precipitation.php">Average Precipitation a Year for Each State</a></li>\n<li><a href="/Weather/US/annual-average-humidity-by-state.php">Annual Humidity Averages by State</a></li>\n<li><a href="/Weather/US/average-snowfall-by-state.php">Yearly Snowfall in Each State</a></li>\n<li><a href="/Weather/top-10-us-states-with-best-weather.php">Top 10 American States With the Best Weather</a></li>\n</ul>\n</div>\n</div>\n<div class="leftcoltop">\n<a name="mm"></a><div class="lefttop-nav-breadstart"><a href="/Weather/index.php">Weather Averages</a></div>\n<p class="breadcrumbs"><a href="/Weather/US/weather-averages-index.php">USA</a> > <a href="/Weather/US/average-state-weather.php">States</a> ></p>\n<div class="lefttop-nav-category">State Sunshine</div>\n<ul class="linklist">\n<li><a href="/Weather/US/average-state-sunshine-in-spring.php">Spring</a></li>\n<li><a href="/Weather/US/average-state-sunshine-in-summer.php">Summer</a></li>\n<li><a href="/Weather/US/average-state-sunshine-in-fall.php">Fall</a></li>\n<li><a href="/Weather/US/average-state-sunshine-in-winter.php">Winter</a></li>\n<li><a href="/Weather/US/average-annual-state-sunshine.php">Annual</a></li>\n</ul>\n</div> \n<div class="narrownav">\n<div class="narrow-nav-subcategory"><a href="/Weather/US/average-city-weather.php">Major USA Cities</a></div>\n<ul>\n<li class="subtopic"><a href="/Weather/US/average-annual-temperatures-large-cities.php">Temperature</a></li>\n<li class="subtopic"><a href="/Weather/US/average-annual-precipitation-by-city.php">Precipitation</a></li>\n<li class="subtopic"><a href="/Weather/US/annual-snowfall-by-city.php">Snow</a></li>\n<li class="subtopic"><a href="/Weather/US/average-annual-sunshine-by-city.php">Sun</a></li>\n<li class="subtopic"><a href="/Weather/US/humidity-city-annual.php">Humidity</a></li>\n<li class="subtopic"><a href="/Weather/US/wind-speed-city-annual.php">Wind</a></li>\n<li class="subtopic"><a href="/Yearly-Weather/USA/recent-yearly-weather-usa-cities-index.php">Recent</a></li>\n</ul>\n<div class="narrow-nav-subcategory"><a href="/Weather/US/weather-averages-index.php">States</a></div>\n<ul>\n<li class="subtopic"><a href="/Weather/US/average-annual-state-temperatures.php">Temperature</a></li>\n<li class="subtopic"><a href="/Weather/US/average-annual-state-precipitation.php">Precipitation</a></li>\n<li class="subtopic"><a href="/Weather/US/average-snowfall-by-state.php">Snow</a></li>\n<li class="subtopic"><a href="/Weather/US/average-annual-state-sunshine.php">Sun</a></li>\n<li class="subtopic"><a href="/Weather/US/annual-average-humidity-by-state.php">Humidity</a></li>\n</ul>\n<div class="narrow-nav-subcategory"><a href="/Weather-Extremes/US/index.php">Extreme USA Weather</a></div>\n<ul>\n<li class="subtopic"><a href="/Weather/top-10-us-states-with-best-weather.php">Best</a></li>\n<li class="subtopic"><a href="/Weather-Extremes/US/coldest.php">Coldest</a></li>\n<li class="subtopic"><a href="/Weather-Extremes/US/hottest.php">Hottest</a></li>\n<li class="subtopic"><a href="/Weather-Extremes/US/snowiest.php">Snowiest</a></li>\n<li class="subtopic"><a href="/Weather-Extremes/US/stormiest-cities.php">Stormiest</a></li>\n<li class="subtopic"><a href="/Weather-Extremes/US/driest-city.php">Driest</a></li>\n<li class="subtopic"><a href="/Weather-Extremes/US/wettest.php">Wettest</a></li>\n<li class="subtopic"><a href="/Weather-Extremes/US/cloudiest.php">Cloudiest</a></li>\n<li class="subtopic"><a href="/Weather-Extremes/US/windiest-cities.php">Windiest</a></li>\n<li class="subtopic"><a href="/Weather-Extremes/US/calmest-cities.php">Calmest</a></li>\n<li class="subtopic"><a href="/Weather-Extremes/US/sunniest.php">Sunniest</a></li>\n</ul>\n<div class="narrow-nav-global"><a href="/Weather-Extremes/index.php">World Weather Extremes</a></div>\n<div class="narrow-nav-global"><a href="/Weather/index.php">World Weather Averages</a></div>\n<div class="narrow-nav-global"><a href="/Weather/US/weather-averages-index.php">USA</a></div>\n<div class="narrow-nav-global"><a href="/Weather/Canada/weather-averages-index.php">Canada</a></div>\n<div class="narrow-nav-global"><a href="/Weather/Europe/Cities/average-european-city-weather.php">Europe</a></div>\n<a href="#to

In [33]:
tables_df = pd.read_html(response.text)
df = pd.concat(tables_df)
df

             State           Place % Sun Total Hours  Clear Days
0          Alabama      Birmingham    58        2641          99
1           Alaska       Anchorage    41        2061          61
2          Arizona          Tucson    85        3806         193
3         Arkansas      Fort Smith    61        2771         123
4       California       San Diego    68        3055         146
5         Colorado  Grand Junction    71        3204         136
6      Connecticut        Hartford    56        2585          82
7         Delaware      Wilmington     –           –          97
8          Florida           Tampa    66        2927         101
9          Georgia           Macon    66        2986         112
10          Hawaii        Honolulu    71           –          90
11           Idaho           Boise    64        2993         120
12        Illinois          Peoria    56        2567          95
13         Indiana    Indianapolis    55        2440          88
14            Iowa      Des Moines    59        2691         105
15          Kansas         Wichita    65        2922         128
0         Kentucky      Louisville    56        2514          93
1        Louisiana     New Orleans    57        2649         101
2            Maine        Portland    57        2513         101
3         Maryland       Baltimore    57        2582         105
4    Massachusetts          Boston    58        2634          98
5         Michigan         Lansing    51        2392          71
6        Minnesota     Minneapolis    58        2711          95
7      Mississippi         Jackson    61        2720         111
8         Missouri     Springfield    60        2690         115
9          Montana          Helena    59        2698          82
10        Nebraska         Lincoln    61        2762         117
11          Nevada            Reno    79        3646         158
12   New Hampshire         Concord    54        2519          90
13      New Jersey   Atlantic City    56        2499          94
14      New Mexico     Albuquerque    76        3415         167
15        New York        Syracuse    46        2120          63
16  North Carolina      Greensboro    60        2651         109
17    North Dakota        Bismarck    59        2738          93
0             Ohio        Columbus    50        2183          72
1         Oklahoma   Oklahoma City    68        3089         139
2           Oregon        Portland    48        2341          68
3     Pennsylvania      Harrisburg    58        2614          87
4     Rhode Island      Providence    58        2606          98
5   South Carolina        Columbia    64        2826         115
6     South Dakota           Huron    63        2947         104
7        Tennessee       Nashville    56        2510         102
8            Texas          Dallas    61        2850         135
9             Utah  Salt Lake City    66        3029         125
10         Vermont      Burlington    49        2295          58
11        Virginia        Richmond    63        2829         100
12      Washington         Seattle    47        2170          58
13   West Virginia         Beckley     –           –          60
14       Wisconsin         Madison    54        2428          89
15         Wyoming          Lander    68        3073         114

In [34]:
data=df.rename(columns={'State': 'location_name'})
data

     location_name           Place % Sun Total Hours  Clear Days
0          Alabama      Birmingham    58        2641          99
1           Alaska       Anchorage    41        2061          61
2          Arizona          Tucson    85        3806         193
3         Arkansas      Fort Smith    61        2771         123
4       California       San Diego    68        3055         146
5         Colorado  Grand Junction    71        3204         136
6      Connecticut        Hartford    56        2585          82
7         Delaware      Wilmington     –           –          97
8          Florida           Tampa    66        2927         101
9          Georgia           Macon    66        2986         112
10          Hawaii        Honolulu    71           –          90
11           Idaho           Boise    64        2993         120
12        Illinois          Peoria    56        2567          95
13         Indiana    Indianapolis    55        2440          88
14            Iowa      Des Moines    59        2691         105
15          Kansas         Wichita    65        2922         128
0         Kentucky      Louisville    56        2514          93
1        Louisiana     New Orleans    57        2649         101
2            Maine        Portland    57        2513         101
3         Maryland       Baltimore    57        2582         105
4    Massachusetts          Boston    58        2634          98
5         Michigan         Lansing    51        2392          71
6        Minnesota     Minneapolis    58        2711          95
7      Mississippi         Jackson    61        2720         111
8         Missouri     Springfield    60        2690         115
9          Montana          Helena    59        2698          82
10        Nebraska         Lincoln    61        2762         117
11          Nevada            Reno    79        3646         158
12   New Hampshire         Concord    54        2519          90
13      New Jersey   Atlantic City    56        2499          94
14      New Mexico     Albuquerque    76        3415         167
15        New York        Syracuse    46        2120          63
16  North Carolina      Greensboro    60        2651         109
17    North Dakota        Bismarck    59        2738          93
0             Ohio        Columbus    50        2183          72
1         Oklahoma   Oklahoma City    68        3089         139
2           Oregon        Portland    48        2341          68
3     Pennsylvania      Harrisburg    58        2614          87
4     Rhode Island      Providence    58        2606          98
5   South Carolina        Columbia    64        2826         115
6     South Dakota           Huron    63        2947         104
7        Tennessee       Nashville    56        2510         102
8            Texas          Dallas    61        2850         135
9             Utah  Salt Lake City    66        3029         125
10         Vermont      Burlington    49        2295          58
11        Virginia        Richmond    63        2829         100
12      Washington         Seattle    47        2170          58
13   West Virginia         Beckley     –           –          60
14       Wisconsin         Madison    54        2428          89
15         Wyoming          Lander    68        3073         114

In [35]:
merge_table = pd.merge(data,depression_analysis, on="location_name")
merge_table

     location_name           Place % Sun Total Hours  Clear Days        val
0          Alabama      Birmingham    58        2641          99 285,260.92
1           Alaska       Anchorage    41        2061          61 306,732.42
2          Arizona          Tucson    85        3806         193 320,307.30
3         Arkansas      Fort Smith    61        2771         123 334,072.65
4       California       San Diego    68        3055         146 257,912.41
5         Colorado  Grand Junction    71        3204         136 315,464.74
6      Connecticut        Hartford    56        2585          82 247,764.57
7         Delaware      Wilmington     –           –          97 289,044.07
8          Florida           Tampa    66        2927         101 280,887.82
9          Georgia           Macon    66        2986         112 276,781.57
10          Hawaii        Honolulu    71           –          90 283,780.97
11           Idaho           Boise    64        2993         120 328,138.27
12        Illinois          Peoria    56        2567          95 245,366.87
13         Indiana    Indianapolis    55        2440          88 315,086.10
14            Iowa      Des Moines    59        2691         105 276,576.17
15          Kansas         Wichita    65        2922         128 291,509.65
16        Kentucky      Louisville    56        2514          93 314,783.72
17       Louisiana     New Orleans    57        2649         101 273,734.40
18           Maine        Portland    57        2513         101 300,966.97
19        Maryland       Baltimore    57        2582         105 282,735.92
20   Massachusetts          Boston    58        2634          98 264,914.13
21        Michigan         Lansing    51        2392          71 288,276.18
22       Minnesota     Minneapolis    58        2711          95 273,096.04
23     Mississippi         Jackson    61        2720         111 287,776.11
24        Missouri     Springfield    60        2690         115 307,588.38
25         Montana          Helena    59        2698          82 330,867.74
26        Nebraska         Lincoln    61        2762         117 267,908.98
27          Nevada            Reno    79        3646         158 322,149.24
28   New Hampshire         Concord    54        2519          90 301,625.78
29      New Jersey   Atlantic City    56        2499          94 230,279.30
30      New Mexico     Albuquerque    76        3415         167 337,430.79
31        New York        Syracuse    46        2120          63 285,357.83
32  North Carolina      Greensboro    60        2651         109 273,548.62
33    North Dakota        Bismarck    59        2738          93 255,197.89
34            Ohio        Columbus    50        2183          72 291,595.30
35        Oklahoma   Oklahoma City    68        3089         139 328,486.28
36          Oregon        Portland    48        2341          68 309,874.96
37    Pennsylvania      Harrisburg    58        2614          87 276,566.51
38    Rhode Island      Providence    58        2606          98 306,111.61
39  South Carolina        Columbia    64        2826         115 293,906.12
40    South Dakota           Huron    63        2947         104 247,267.87
41       Tennessee       Nashville    56        2510         102 316,290.77
42           Texas          Dallas    61        2850         135 263,132.29
43            Utah  Salt Lake City    66        3029         125 370,059.35
44         Vermont      Burlington    49        2295          58 300,156.53
45        Virginia        Richmond    63        2829         100 283,424.94
46      Washington         Seattle    47        2170          58 308,070.00
47   West Virginia         Beckley     –           –          60 335,908.31
48       Wisconsin         Madison    54        2428          89 289,377.50
49         Wyoming          Lander    68        3073         114 328,378.93

### Connect to local database

In [36]:
rds_connection_string = "<xinleibai>:<XBkerry1>@localhost:5432/customer_db"
engine = create_engine(f'sql://{rds_connection_string}')

NoSuchModuleError: Can't load plugin: sqlalchemy.dialects:sql

### Check for tables

In [ ]:
engine.table_names()

### Use pandas to load csv converted DataFrame into database

In [ ]:
new_customer_data_df.to_sql(name='customer_name', con=engine, if_exists='append', index=False)

### Use pandas to load json converted DataFrame into database

In [ ]:
new_customer_location_df.to_sql(name='customer_location', con=engine, if_exists='append', index=False)

### Confirm data has been added by querying the customer_name table
* NOTE: can also check using pgAdmin

In [ ]:
pd.read_sql_query('select * from customer_name', con=engine).head()

### Confirm data has been added by querying the customer_location table

In [ ]:
pd.read_sql_query('select * from customer_location', con=engine).head()